@model FileSharing.Models.RegisterViewModel
@{
    ViewData["Title"] = @Localizer["Register"];
}
<!-- Start Contact -->
    <section id="mu-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-contact-area" style="padding-top: 0px">
                        <!-- Title -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mu-title">
                                    <h2>@Localizer["Register"]</h2>
                                </div>
                            </div>
                        </div>
                            <!-- Start Contact Content -->
                        <div class="mu-contact-content">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="mu-contact-form-area">
                                        <div id="form-messages"></div>
                                        <form method="post" class="mu-contact-form" asp-action="Register">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                             <div class="form-group">  
                                                <span class="fa fa-envelope mu-contact-icon"></span>              
                                                <input asp-for="FirstName" type="text" class="form-control" placeholder="@Localizer["FirstName"]" required>
                                                <span asp-validation-for="FirstName"></span>
                                            </div>  

                                             <div class="form-group">  
                                                <span class="fa fa-envelope mu-contact-icon"></span>              
                                                <input asp-for="LastName" type="text" class="form-control" placeholder="@Localizer["LastName"]" required>
                                                <span asp-validation-for="LastName"></span>
                                            </div> 
                                            <div class="form-group">  
                                                <span class="fa fa-user mu-contact-icon"></span>              
                                                <input asp-for="Email" type="email" class="form-control" placeholder="@Localizer["Email"]" id="Email" name="Email" required>
                                                <span asp-validation-for="Email"></span>
                                            </div>

                                            <div class="form-group">  
                                                <span class="fa fa-envelope mu-contact-icon"></span>              
                                                <input asp-for="Password" type="password" class="form-control" placeholder="@Localizer["Enter.Password"]" required>
                                                <span asp-validation-for="Password"></span>
                                            </div>  

                                             <div class="form-group">  
                                                <span class="fa fa-envelope mu-contact-icon"></span>              
                                                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="@Localizer["Enter.ConfirmPassword"]" required>
                                                <span asp-validation-for="ConfirmPassword"></span>
                                            </div>  
                                              
                                            <button type="submit" class="mu-send-msg-btn"><span>@Localizer["Register"]</span></button>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- End Contact Content -->
                    </div>
                </div>
            </div>
        </div>
    </section>
		<!-- End Contact -->

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}