
@model FileSharing.Models.ResetPasswordViewModel
@{
    ViewData["Title"] = @Localizer["ResetPassword"];
}


    <section id="mu-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mu-contact-area" style="padding-top: 0px">
                        <!-- Title -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mu-title">
                                    <h2>@Localizer["ResetPassword"]</h2>
                                </div>
                            </div>
                        </div>
                            <!-- Start Contact Content -->
                        <div class="mu-contact-content">
                            <div class="row">

                                <div class="col-md-12">
                                    <div class="mu-contact-form-area">
                                        <div id="form-messages"></div>
                                        <form method="post" class="mu-contact-form" asp-action="ResetPassword" asp-controller="Account">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                             <div class="form-group">  
                                                <span class="fa fa-user mu-contact-icon"></span>              
                                                <input asp-for="NewPassword" type="password" class="form-control" placeholder="@Localizer["NewPassword"]" required>
                                                <span asp-validation-for="NewPassword"></span>
                                            </div>
                                             <div class="form-group">  
                                                <span class="fa fa-user mu-contact-icon"></span>              
                                                <input asp-for="ConfirmNewPassword" type="password" class="form-control" placeholder="@Localizer["ConfirmNewPassword"]" required>
                                                <span asp-validation-for="ConfirmNewPassword"></span>
                                            </div>
                                            <input type="hidden" asp-for="Token">
                                            <input type="hidden" asp-for="Email">
                                            <button type="submit" class="mu-send-msg-btn"><span>@Localizer["submit"]</span></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Contact Content -->
                    </div>
                </div>
            </div>
        </div>
    </section>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}