@model IEnumerable<FileSharing.Models.UploadViewModel>
@{
    ViewData["Title"] = "Browse";
}
<h3>Browse Uploads</h3>
<hr />
<div class="container">
    <div class="row">
        @foreach(var item in Model)
        {
        <div class="card mb-3 col-md-12">
            <div class="row no-guitars">
                <div class="col-md-4">
                    @if(item.ContentType.ToLower().StartsWith("image"))
                    {
                    <img height="50%" width="50%" data-src="/Uploads/@item.FileName" class="img-fluid rounded-start lazyload" alt="...">
                    }
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                            <h5 class="card-title">@item.OriginalFileName</h5>
                            @*<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>*@
                            <p class="card-text">
                                <small class="text-muted">@item.UploadTime</small>
                                <br />
                                @{
                                    var size = item.Size / 1024;
                                    if(size < 1024)
                                    {
                                        <span>Size: @Math.Floor(size) kb</span>
                                    }
                                    else
                                    {
                                        <span>Size: @(Math.Floor(size)/1024) Mb</span>
                                    }
                                }
                                <br />
                                <span>Download Count: @item.DownloadCount</span>
                                </p>
                            <div class="text-right"><a class="btn btn-outline-primary" asp-action="Download" asp-controller="Upload" asp-route-id="@item.FileName">Download</a></div>
                    </div>
                 </div>
            </div>
        </div>
        }
        <div class="col-md-12 text-center">
            <div>  
                @if(ViewBag.currentPage - 1 > 0)
                {
                     <a href="/Upload/Browse/?requiredPage=@(ViewBag.currentPage - 1)" class="btn btn-outline-primary btn-lg align-left">Previous</a>
                }  
                @if(ViewBag.currentPage + 1 <= ViewBag.pageCount)
                {
                    <a href="/Upload/Browse/?requiredPage=@(ViewBag.currentPage + 1)" class="btn btn-outline-primary btn-lg align-right">Next</a>  
                }
            </div>
        </div>
    </div>
</div>
