@{
    ViewData["Title"] = "Home Page";
    List<string> contentTypeArray = new List<string>() {"image/jpeg", "image/png"};
}

<div class="text-center">

    <h1>@Localizer["Search.Files"]</h1> 
    <div class= "container">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <form asp-controller="Upload" asp-action="Results">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="term" placeholder="File Name" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <input class="btn btn-outline-primary" type="submit" value="@Localizer["Search"]"></input>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 text-center" style="margin-top:40px">
    <h2>@Localizer["Popular"]</h2>
    <hr />
    <table class="table">
        <tbody>
            @foreach(var item in ViewBag.poplarDownloads)
            {
                <tr>
                    
                    <td>
                        @if (contentTypeArray.Contains(item.ContentType))
                        {
                            <img data-src="/Uploads/@item.FileName" width="70" height="70" class="img-thumbnail lazyload" alt="@item.OriginalFileName"/>
                        }
                    </td>
                    <td>@item.OriginalFileName</td>
                    <td>@Localizer["Downloads"] : @item.DownloadCount</td>
                </tr>
            }
        </tbody>
    </table>
</div>
